.container
	margin: 0 8vw

.typography
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	margin: 11vh 0

// FONTS EXAMPLES

.fonts-list__item
	display: flex
	align-items: flex-start

.font-type
	text-align: right
	min-width: 35px
	margin-right: 30px

.font-example 
	@include font('montserrat-bold', normal, 400, '../fonts/Motserrat-Regular')
	color: $accent
	&--h1
		font-size: 24px
		line-height: 29px
	&--h2
		font-size: 19px
		line-height: 23px
	&--h3
		font-size: 12px
		line-height: 15px
		text-transform: uppercase
	&--body
		font-size: 14px
		line-height: 24px
		color: rgba($accent, 0.75)

	// COLORS EXAMPLES

.colors-list
	display: flex
	flex-direction: column
	color: $accent

.colors-list__item
	display: flex
	align-items: center

.color-description 
	font-size: 19px

.color-description__name
	margin-bottom: 0

.color-description__code
	margin-top: 0

.color-sample
	width: 70px
	height: 70px
	border-radius: 6px
	margin-right: 40px
	&--dark-shade-100
		background-color: rgba($accent, 1.0)
	&--dark-shade-75
		background-color: rgba($accent, 0.75)
	&--dark-shade-50
		background-color: rgba($accent, 0.5)
	&--dark-shade-25
		background-color: rgba($accent, 0.25)
	&--dark-shade-5
		background-color: rgba($accent, 0.05)
	&--purple
		background-color: #BC9CFF
	&--green
		background-color: #6FCF97

.form-elements
	span
		font-family: materialIcons-outlined
		
		font-size: 24px
		&:before
			content: 'expand_more'
			font-size: 24px